.container {
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    width: 200px;
    padding: 0;
}

text .container {
    display: block;
}

body {
    /* background: url(http://wordpress.redirectingat.com/?id=725X1342&site=rischmoller.wordpress.com&xs=1&isjs=1&url=https%3A%2F%2Frischmoller.files.wordpress.com%2F2012%2F01%2Fstar-wars.jpg&xguid=&xuuid=1aa80ea6afc4d6803f768259a52e72f0&xsessid=&xcreo=0&xed=0&sref=https%3A%2F%2Frischmoller.wordpress.com%2F2012%2F01%2F16%2Fstar-wars-wallpaper-the-force-is-the-new-feng-shui-of-interior-design%2F&pref=https%3A%2F%2Fwww.google.com%2F&xtz=300&jv=13.12.1-stackpath&bv=2.5.1) */
}
