.container {
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    width: 200px;
    padding: 0;
    background-color: white;
}


#text {
    color: black;
    width: 355px;
    align-self: center;
    text-align: center;
    margin: auto;
    background-color: white;
    border: 1px solid white;
}
.fight-button {
    margin: 6px 619px;
}

.battle-log {
    float: right;
    margin-right: 20px;
}

#defender-obj {
    margin-left: 566px;
}


body {
    background: url(https://www.syfy.com/sites/syfy/files/styles/1140x640/public/wire/legacy/Star-Wars-Battlefront_2015_04-16-15_002.jpg?itok=TtbscpX5&timestamp=1497663261)
}
