.container {
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    width: 200px;
    margin: 3px auto;
    padding: 0;
    background-color: white;
}


#text {
    color: black;
    width: 254px;
    align-self: center;
    text-align: center;
    margin: 3px auto;
    background-color: blue;
    border: 1px solid black;
}
#fight-button {
    margin: 6px 619px;
}

.battle-log {
    position: absolute;
    right: 100px;
    top: 482px;
    float: right;
    background: gray
}

#defender-obj {
    position: relative;
    margin-left: 566px;
}


body {
    background: url(https://www.syfy.com/sites/syfy/files/styles/1140x640/public/wire/legacy/Star-Wars-Battlefront_2015_04-16-15_002.jpg?itok=TtbscpX5&timestamp=1497663261)
}

#header {
    width: 274px;
    float: right;
    background-color: aqua;
}

.theme-button {
    float: left;
    padding: 0;
    height: 30px;
    margin-left: 20px;
}